@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Merriweather Sans', sans-serif;
  background-color: rgb(45, 45, 45);
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  background-position: center;
  background-size: cover;
}

.form-box {
  position: relative;
  width: 400px;
  height: 450px;
  border: 2px solid white;
  backdrop-filter: blur(15px);
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  font-size: 2em;
  color: #fff;
  text-align: center;
  opacity: 0;
  animation: fade-in 0.125s ease-in-out forwards;
  animation-delay: 0.05s;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.inputbox {
  position: relative;
  margin: 30px 0;
  width: 310px;
  border-bottom: 2px solid #fff;
  opacity: 0;
  animation: fade-in 0.25s ease-in-out forwards;
  animation-delay: 0.1s;
}

.inputbox label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  color: #fff;
  font-size: 1em;
  pointer-events: none;
  transition: 0.5s;
}

input:focus ~ label,
input:valid ~ label {
  top: -5px;
}

.inputbox input {
  width: 100%;
  height: 50px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  padding: 0 35px 0 5px;
  color: #fff;
}

.inputbox ion-icon {
  position: absolute;
  right: 8px;
  color: #fff;
  font-size: 1.2em;
  top: 20px;
}

.forget {
  margin: -15px 0 15px;
  font-size: 0.9em;
  color: #fff;
  display: flex;
  justify-content: space-between;
  opacity: 0;
  animation: fade-in 0.25s ease-in-out forwards;
  animation-delay: 0.15s;
}

.forget label input {
  margin-right: 3px;
}

.forget label a {
  color: #fff;
  text-decoration: none;
}

.forget label a:hover {
  text-decoration: underline;
}

button {
  width: 100%;
  height: 40px;
  background: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1em;
  font-weight: 600;
  border-radius: 20px;
  transition: background-color 0.3s, color 0.3s;
  opacity: 0;
  animation: fade-in 0.25s ease-in-out forwards;
  animation-delay: 0.2s;
}

button:hover {
  background-color: #000;
  color: #fff;
}

.switchPages {
  font-size: 0.9em;
  color: #fff;
  text-align: center;
  margin: 25px 0 10px;
  opacity: 0;
  animation: fade-in 0.25s ease-in-out forwards;
  animation-delay: 0.25s;
}

.switchPages p a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
}

.switchPages p a:hover {
  text-decoration: underline;
}
